[submodule "pico-ice/pico-sdk"]
	path = pico-ice/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "pico-ice/pico-ice-sdk"]
	path = pico-ice/pico-ice-sdk
	url = https://github.com/tinyvision-ai-inc/pico-ice-sdk
